flask
flask_mysqldb
flask_login
flask_babel
python-dotenv
flask_bootstrap
flask_sqlalchemy
flask_bcrypt
flask_migrate
flask_assets
flask_oidc
dash_core_components
dash
dash_bootstrap_components
pandas
numpy==1.19.3
PyYAML
flask_wtf
openpyxl