{% extends "bootstrap/base.html" %}
{% block title %}
Roles
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
{% endblock %}
{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Forward Sports</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Log Out</a></li>
      </ul>
      <form class="navbar-form navbar-right",method="POST">
        <input type="text" class="form-control" placeholder="Search...">
      </form>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li><a href="#">Overview</a></li>
        <li class="active"><a href="#">Roles <span class="sr-only">(current)</span></a></li>
       
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">Edit Name or Role BluePrint 2</h1>      
      

<div class="container-fluid">
   <div class="row2">
      <div class="col md-12">
         <div class="jumbotron p-3">
            <h4>Manage <b>Employees </b>  <button type="button"  class="btn btn-success float-right"
               data-toggle="modal" data-target="#mymodal">Add New Employees</button> </h>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissable" role="alert">
               <button type="button" class="close" data-dismiss="alert" aria-label="close">
               <span aria-hidden="true">x</span>
               </button>
               {{message}}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <table class="table table-hover table-dark">
               <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Role</th>
               </tr>
               {% for row in employees %}
               <tr>
                  <td>{{row.id}}</td>
                  <td>{{row.username}}</td>
                  <td>{{row.role}}</td>
                  <td>
                     <a href="/update" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#modaledit{{row.id}}">Edit</a>
                     <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                  </td>
               </tr>
               <!-- Modal Edit Employee-->
               <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header">
                           <h4 class="modal-title">Update Information</h4>
                        </div>
                        <div class="modal-body">
                           <form action="{{url_for('role.update')}}" method="POST">
                              <div class="form-group">
                                 <label>Username:</label>
                                 <input type="hidden"  name="id" value="{{id}}">
                                 <input type="text" class="form-control" name="username" value="{{username}}">
                              </div>
                              <div class="form-group">
                                 
                                 <label>Choose role from dropdown:</label>
                                 <div class="dropdown">
                                    <div>
                                       
                                       <select name="role" id='role'>
                                          {% for rol in role %}
                                             <option value="{{ rol.role }}">{{ rol.role }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                  </div>
                                 <p></p>
                                 <label>Current Role: {{row.role}}</label>
                              </div>
                              <div class="form-group">
                                 <button class="btn btn-primary" type="submit">Update</button>
                              </div>
                           </form>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                  </div>
               </div>
               {% endfor %}
            </table>
         </div>
         <!-- Modal Add Employee-->
         <div id="mymodal" class="modal fade" role="dialog">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <h4 class="modal-title">Add Employee</h4>
                  </div>
                  <div class="modal-body">
                     <form action="{{url_for('role.insert')}}" method="POST">
                        <div class="form-group">
                           <label>Username:</label>
                           <input type="text" class="form-control" name="username">
                        </div> <div class="form-group">
                           <label>Password:</label>
                           <input type="password" class="form-control" name="password">
                        </div>
                        <div class="form-group">
                           <label>Role:</label>
                           <input type="text" class="form-control" name="role">
                        </div>
                        <div class="form-group">
                           <button class="btn btn-primary" type="submit">Add Employee</button>
                        </div>
                     </form>
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
{% endblock %}